# SPDX-License-Identifier: GPL-3.0-or-later
# Waveshare ESP32-P4-WIFI6-Touch-LCD-4.3: ESP32-P4 (chip revision v3.x), 32 MB flash,
# 32 MB PSRAM, ESP32-C6 co-processor for BLE. For an older v1.x chip, add
# sdkconfig.rev_lt_v3 to SDKCONFIG_DEFAULTS. Refer to docs/renogy_displays/waveshare_p4_43.md.
CONFIG_IDF_TARGET="esp32p4"
CONFIG_ESP32P4_REV_MIN_300=y
CONFIG_ESPTOOLPY_FLASHMODE_QIO=y
CONFIG_ESPTOOLPY_FLASHSIZE_32MB=y
CONFIG_SPI_FLASH_SUPPORT_GD_CHIP=y
CONFIG_SPIRAM=y
CONFIG_SPIRAM_SPEED_200M=y
CONFIG_SPIRAM_XIP_FROM_PSRAM=y
CONFIG_CACHE_L2_CACHE_256KB=y
CONFIG_CACHE_L2_CACHE_LINE_128B=y
CONFIG_FREERTOS_HZ=1000
CONFIG_LV_OS_FREERTOS=y
# The QIO bootloader is too large for its partition with the default log level.
CONFIG_BOOTLOADER_LOG_LEVEL_WARN=y
CONFIG_PARTITION_TABLE_SINGLE_APP_LARGE=y
CONFIG_COMPILER_CXX_EXCEPTIONS=n
CONFIG_COMPILER_CXX_RTTI=n
